.Place {
    background: rgb(255, 255, 255);
    transition: .2s;
    min-width: 150px;
    box-shadow: 0 0 5px 5px rgba(238, 238, 238, 0.2);
    height: 130px;
    align-content: center;
    border-radius: 30px;
    padding: 16px;
}

.Place:hover {
    /*background: #f3f3f3;*/
    /*border-radius: 10px;*/
    box-shadow: 0 0 10px 10px rgba(176, 176, 176, 0.2);
}
.Place .Button {
    background: rgba(190, 202, 215, 0.13);
    color: black;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    width: 90%;
    transition: .2s;
}

.Place .Button:hover {
    background: rgb(236, 205, 65);
}

.Place .Card {
    width: 90%;
    height: 50%;
    background: #e2eae7;
    margin: 10px auto;
}
.Places {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1200px;
    gap: 15px;
    margin: auto;
    justify-items: center;
}
