.Items {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 1000px;
    gap: 15px;
    margin: auto;
    padding: 15px;
}

.Item {
    background: rgb(246, 246, 246);
    transition: .2s;
}

.Item:hover {
    background: #efefff;
    border-radius: 20px;
    box-shadow: #bfbfbf 0 0 10px 1px;

}